<div class="background"
[class.selected]="close === open"
 >

<div  class="details"
  [class.selected]="close === open"
  [class.withPhoto]="selectedPhoto !== PhotoOpen">


      <i class="material-icons" (click)="onSelectClose()">
      clear
      </i>


      <div class="dop"
           [class.selected]="close === open">

          <div class="col left names top">
              <span>Номер</span>
          </div>
          <div class="col right top min">
              <input [(ngModel)]="sector.sectorName" placeholder="{{sector.sectorName}}" />
          </div>

          <!--------------------------- 
               Try to do it:
               https://material.angular.io/components/select/overview 
          ----------------------------->
          <div class="col left names top">
              <span>Кладбище</span>
          </div>
          <div class="col right top">
              <mat-form-field>
                  <mat-select placeholder="Кладбище"  [(ngModel)]="sector.cemeteryId">
                      <mat-option *ngFor="let cemetery of cemeteries" [value]="cemetery.id">
                          {{cemetery.name}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>





          <div [class.selectedGallery]="selectedPhoto !== PhotoOpen">

              <div class="gallery"
                   [class.selectedPhoto]="selectedPhoto === PhotoOpen">

                  <div class="arrows-container"
                       (click)="onBefore()">
                      <i class="material-icons arrows arrow-before">
                          navigate_before
                      </i>
                  </div>

                  <!-- <img src="{{sector.imgs[number]}}" class="photo" alt=""> -->

                  <div class="arrows-container"
                       (click)="onNext()">

                      <i class="material-icons arrows arrow-next">
                          navigate_next
                      </i>
                  </div>

                  <!-- <span class="counter">{{number + 1}} / {{sector.imgs.length}}</span> -->


                  <div class="btns">
                      ss
                      an
                      <span class=" photoAdd" (click)="addPhoto()">ДОБАВИТЬ ФОТОГРАФИЮ</span>
                      <span class=" del" (click)="addPhoto()">УДАЛИТЬ ФОТОГРАФИЮ</span>
                  </div>

              </div>

              <span class="b_left add button"
                    (click)="onSelectPhoto()"
                    [class.selectedPhoto]="selectedPhoto !== PhotoOpen">
                  ДОБАВИТЬ ФОТОГРАФИЮ
              </span>

          </div>

          <div class="buttons">
              <span class="b_right button" (click)="save(sector)" style="color:#0070c0">ДОБАВИТЬ</span>
              <span class="b_right button" (click)="onSelectClose(sector)">ОТМЕНИТЬ</span>
          </div>




      </div>
  </div>
</div>
