.bottombar
    margin-left: 72px
    height: 65px
    display: fixed
    bottom:  100px

    .button
        display: inline-block
        margin: 24px

        .label:hover 
            color: #0070C0
        
        .label
            cursor: pointer
            color: black
            