<div class="background"
[class.selected]="close === open"
 >

<div class="details"
  [class.selected]="close === open"
  [class.withPhoto]="selectedPhoto !== PhotoOpen">

      <i class="material-icons" (click)="onSelectClose()">
      clear
      </i>


  <div  class="dop"
    [class.selected]="close === open">

        <div class="col left names top">
          <span>Название</span>
        </div>
        <div class="col right top">
              <input [(ngModel)]="cemetery.name" placeholder="{{cemetery.name}}"/>
        </div>

        <div class="col left names">
          <span>Адрес</span>
        </div>
        <div class="col right">
          <div>
            <label>
              <input [(ngModel)]="cemetery.address" placeholder="{{cemetery.address}}"/>
            </label>
          </div>
        </div>



        <div [class.selectedGallery]="selectedPhoto !== PhotoOpen">

            <div class="gallery"
            [class.selectedPhoto]="selectedPhoto === PhotoOpen">
    
                    <div class="arrows-container"
                    (click)="onBefore()">
                      <i class="material-icons arrows arrow-before">
                        navigate_before
                      </i>
                    </div>
                    
                    <!-- <img src="{{cemetery.imgs[number]}}" class="photo" alt=""> -->
              
                    <div class="arrows-container"
                    (click)="onNext()">
              
                      <i class="material-icons arrows arrow-next">
                          navigate_next
                      </i>
                    </div>
              
                    <!-- <span class="counter">{{number + 1}} / {{cemetery.imgs.length}}</span>    -->


                    <div class="btns">
                      <span class=" photoAdd" (click)="addPhoto()">ДОБАВИТЬ ФОТОГРАФИЮ</span>
                      <span class=" del" (click)="addPhoto()">УДАЛИТЬ ФОТОГРАФИЮ</span>
                    </div>
                    
            </div>

            <div class="form-group">
              <!-- <button mat-button ></button> -->
                <button mat-button for="file" >
                  <label for="file">ДОБАВИТЬ ФОТОГРАФИЮ
              <input   type="file"
                     id="file"
                     multiple
                     accept="image/jpeg,image/png"
                     (change)="handleFileInput($event.target.files)">
                  </label>
              </button>
              <img #Image class="upImage">
              <img *ngFor="let image of images" class="upImage">
              <img #{{image}} class="upImage">
          </div>

          <!-- <img #profileImage  src="assets/images/empty-profile.png" alt="" 
          class="profile-image" (click)="this.profileImageInput.click()">
          <input type="file"  hidden #profileImageInput formControlName="image"
          accept="image/jpeg,image/png,image/gif" (change)="imageChoosed($event)">
             -->
          <!-- <span class="b_left add button" 
          (click)="onSelectPhoto()"
          [class.selectedPhoto]="selectedPhoto !== PhotoOpen">
          ДОБАВИТЬ ФОТОГРАФИЮ
          </span> -->

        </div>
        
        <div class="buttons">
            <span class="b_right button" (click)="save()" style="color:#0070c0">ДОБАВИТЬ</span>
          <span class="b_right button" (click)="onSelectClose()">ОТМЕНИТЬ</span>
        </div>

        
        
  
    </div>
  </div>
</div>
