# https://trello.com/invite/b/PQHDSRYF/46fab1a5de0dc08bf19937f271e70829/cemetery

# IDE dir
.vs/
.vscode/

# net core compiled files
Cemetery/[Bb]in/
Cemetery/[Oo]bj/

# angular compiled files
Cemetery/wwwroot/dist/

# packages
Cemetery/node_modules/

# wtf-files
*.js
*.map
