
    <button mat-raised-button color="primary" 
    [matMenuTriggerFor]="menu">
    <mat-icon aria-label="icon-button with a add icon">add</mat-icon>
        ДОБАВИТЬ
    </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onCemetery()">Кладбище</button>
          <button mat-menu-item (click)="onSector()">Сектор</button>
          <button mat-menu-item (click)="onPlace()">Место</button>
          <button mat-menu-item (click)="onBurial()">Захоронение</button>
        </mat-menu>


<app-add-cemetery [open]="open_cemetery" (onClose)="onClosedCemetery()"></app-add-cemetery>
<app-add-sector [open]="open_sector" (onClose)="onClosedSector()"></app-add-sector>
<app-add-place [open]="open_place" (onClose)="onClosedPlace()"></app-add-place>
<app-add-burial [open]="open_burial" (onClose)="onClosedBurial()"></app-add-burial>