<app-messages></app-messages>
<app-bottombar></app-bottombar>

<div  class="cemeterys">

  <div class="dashboard">
      
      <a *ngFor="let burial of burials" 
        [class.selected]="burial === selectedBurial"
        (click)="onSelectBurial(burial)"> 
        <!-- <div class="address">
            <span>{{burial.id}} </span>
          </div> -->
        <div class="el">

            
              <span class="name">{{burial.surname}} {{burial.name}} {{burial.patronymic}}</span>

              <span class="other top">{{burial.birthDate | date:'dd-MM-yyyy'}} - {{burial.deathDate | date:'dd-MM-yyyy'}}</span>
              
              <span class="other ">{{burial.burialDate | date:'dd-MM-yyyy'}}</span>


              <span class="other top">Сектор: </span>
              <span class="other">Ряд: </span>
              <span class="other">Место: </span>
              
              <i class="material-icons icons"
              (click)="onSelectChange(burial)">
                  create
                  </i>
              <i class="material-icons icons"
              (click)="onSelectInfo(burial)">
                info
                </i>
                 
        </div>
         
      </a> 
  </div>
  
</div>
<app-burials-details [burial]="selectedInfo" [open]="open" (onClose)="onClosed($event)" ></app-burials-details>
<app-change-burial [burial]="selectedInfo" [open]="open_change" (onClose)="onClosed($event)"></app-change-burial>