<app-messages></app-messages>
<app-bottombar></app-bottombar>

<div  class="cemeterys">

  <div class="dashboard">
      
      <a *ngFor="let burial of burials" 
        [class.selected]="burial === selectedBurial"
        (click)="onSelectBurial(burial)"> 
        <!-- <div class="address">
            <span>{{burial.id}} </span>
          </div> -->
        <div class="el">

            
              <span class="name">{{burial.surname}} {{burial.name}} {{burial.patronymic}}</span>

              <span class="other top">{{burial.birthDate | date:'dd-MM-yyyy'}} - {{burial.deathDate | date:'dd-MM-yyyy'}}</span>
              
              <span class="other ">{{burial.burialDate | date:'dd-MM-yyyy'}}</span>

              
              <i class="material-icons icons"
              (click)="onSelectChange(burial)">
                  create
                  </i>
              <i class="material-icons icons"
              (click)="onSelectInfo(burial)">
                info
                </i>
                 
        </div>
         
      </a> 
  </div>

</div>

<mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = $event">
</mat-paginator>

<app-burials-details [burial]="selectedBurial" [open]="open_detail" (onClose)="onClosedDetails()" ></app-burials-details>
<app-change-burial [burial]="selectedBurial" [open]="open_change" (onClose)="onClosedChange()"></app-change-burial>